.inputbox {
  width: 130px;
  height: 70px;
  background: white;
  margin: 5px 0;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
}
.isWinner {
  background-color: green;
}
